
<br>
<section id="services" class="services">
  <div class="container">

    <div class="section-title">
      <!-- <h2 [innerHTML]="theHtmlString"></h2> -->
      <h2>Services</h2>
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    </div>


    <div class="row">

      <div class="col-sm-6 " >
        <header class="w3-container w3-light-grey">
          <h3>John Doe</h3>
        </header>
        <div class="w3-container">
          <img src="../../../assets/images/ee.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
          <p>CEO at Mighty Schools. Marketing and Advertising. Seeking a new job and new opportunities.</p><br>
        </div>

        <br>
      </div>

      <div class="col-sm-6 " >
        <header class="w3-container w3-light-grey">
          <h3>John Doe</h3>
        </header>
        <div class="w3-container">
          <img src="../../../assets/images/ee.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
          <p>CEO at Mighty Schools. Marketing and Advertising. Seeking a new job and new opportunities.</p><br>
        </div>

        <br>
      </div>
      <div class="col-sm-6 " >
        <header class="w3-container w3-light-grey">
          <h3>John Doe</h3>
        </header>
        <div class="w3-container">
          <img src="../../../assets/images/ee.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
          <p>CEO at Mighty Schools. Marketing and Advertising. Seeking a new job and new opportunities.</p><br>
        </div>

        <br>
      </div>

      <div class="col-sm-6 " >
        <header class="w3-container w3-light-grey">
          <h3>John Doe</h3>
        </header>
        <div class="w3-container">
          <img src="../../../assets/images/ee.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
          <p>CEO at Mighty Schools. Marketing and Advertising. Seeking a new job and new opportunities.</p><br>
        </div>

        <br>
      </div>
      <div class="col-sm-6 " >
        <header class="w3-container w3-light-grey">
          <h3>John Doe</h3>
        </header>
        <div class="w3-container">
          <img src="../../../assets/images/ee.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
          <p>CEO at Mighty Schools. Marketing and Advertising. Seeking a new job and new opportunities.</p><br>
        </div>

        <br>
      </div>

      <div class="col-sm-6 " >
        <header class="w3-container w3-light-grey">
          <h3>John Doe</h3>
        </header>
        <div class="w3-container">
          <img src="../../../assets/images/ee.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
          <p>CEO at Mighty Schools. Marketing and Advertising. Seeking a new job and new opportunities.</p><br>
        </div>

        <br>
      </div>
      <br>

    </div>

  </div>
</section>


<nav class="navbar  navbar-expand-sm navbar-dark bg-dark no-overflow">
  <div class="nav navbar-nav mx-auto">

    <div class="row center" >
      <div class="col-sm-3 icon-box aos-init aos-animat" >
        <img src="../../../assets/images/ionic.png" alt="" class="img-thumbnail">
      </div>
      <div class="col-sm-3 icon-box aos-init aos-animate" >
        <img src="../../../assets/images/logo.png" alt="" class="img-thumbnail">
      </div>
      <div class="col-sm-3 icon-box aos-init aos-animate" >
        <img src="../../../assets/images/mysql-database-server-microsoft-sql-server-others-thumbnail.jpg" alt="" class="img-thumbnail">
      </div>
      <div class="col-sm-3 icon-box aos-init aos-animate" >
        <img src="../../../assets/images/nPzvMuo2_400x400.png" alt="" class="img-thumbnail">
      </div>


    </div>

  </div>

</nav>
