
<nav class ="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" href="#">ROLL BLOCK</a>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]>
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="collapseExample" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item ">
        <a class="nav-link parent-fix Toggle"(click)="sendNotification()"  >Send notification<span class="material-icons child-fix">
          local_post_office
          </span></a>
     </li>


    <li class="nav-item ">
      <a class="nav-link parent-fix Toggle"  (click)="listNotification()"    >List notification<span class="material-icons child-fix">
        format_list_bulleted
        </span></a>
    </li>

    </ul>
  </div>


</nav>
<router-outlet></router-outlet>
