
  <div class="hero-image">
    <div class="hero-text">
      <h1 class="first-text" >Roll Block</h1>

    </div>
  </div>


  <br>
  <br>
  <br>
  <br>
  <br>
 

<div class="center">
  <h1  data-aos="flip-left" data-aos-duration="1000" class="about">About</h1>
</div>

<br>
<br>
<br>


<div class="container">
  <div class="card-deck">
      <div data-aos="flip-left" data-aos-duration="1000"
      class="card text-center">
          <div class="card-block">
            <span class="material-icons md-48" >
              speed
              </span>
              <h2 class="card-title">Performence</h2>
              <p class="card-text">
                  Great Performence delivered by
                  <br> our products 
              
                  <br>
              </p>
          </div>

      </div>

      <div data-aos="flip-left" data-aos-duration="1000"
       class="card text-center">
        <div class="card-block">
          <span class="material-icons md-48" >
            design_services
            </span>
          <h2 class="card-title">UX/UI</h2>
            <p class="card-text">
                show casing great
                <br> looking design leaving 
                <br> customer satisfied
                <br>
            </p>
        </div>

    </div>

    <div data-aos="flip-left" data-aos-duration="1000" class="card text-center">
      <div class="card-block">
        <span class="material-icons md-48" >
          stay_primary_portrait
          </span>
          <h2 class="card-title">Mobile</h2>
          <p class="card-text">
              delivering mobile 
              <br> experience on both
              <br> Android and IOS
              <br>
          </p>
      </div>

  </div>


  <div data-aos="flip-left" data-aos-duration="1000" class="card text-center">
    <div class="card-block">
      <span class="material-icons md-48" >
        https
        </span>
        <h2 class="card-title"> Security </h2>
        <p class="card-text">
            securing our applications
            <br> is a must we deliver , serving
            <br>both authentication and role management
        </p>
    </div>

</div>
  </div>

</div>


<br>
<br>


<div class="container">
<div class="card-deck">

  <div class="col-sm-4" data-aos="fade-right"  data-aos-duration="1000">
    <div class="card text-center">
    <div class="card-body">
      <h2 class="card-title">Roll Block</h2>
      <p class="card-text">We offer awesome software products raging from web development to mobile development</p>
    </div>
  </div>
</div>


  <div class="col-sm-8"><ul class="list-group"> 
   
    <li data-aos="flip-down"  data-aos-duration="1000" class="list-group-item list-group-item-success">Spring Boot</li>
    <li data-aos="flip-down" data-aos-duration="1000" class="list-group-item list-group-item-danger">Angular JS</li>
    <li data-aos="flip-down" data-aos-duration="1000" class="list-group-item list-group-item-warning">ionic</li>
    <li data-aos="flip-down" data-aos-duration="1000" class="list-group-item list-group-item-info">Bootstrap</li>

  </ul></div>
</div>
</div>


<br>
<br>
<br>
<br>
<br>

<div class="center" data-aos="zoom-in">
  <h1 class="about">Contact Us</h1>
</div>
<br>
<br>
<br>

<div class="container" data-aos="zoom-in">
  
<div class="col-md-12 text-center">
  <ul class="list-unstyled mb-0">
      <li>            
        <span class="material-icons md-48" >
          place
        </span>
          <p>San Francisco, CA 94126, USA</p>
      </li>

      <li> <span class="material-icons md-48" >
        phone
      </span> 
          <p>+ 01 234 567 89</p>
      </li>

      <li><span class="material-icons md-48" >
        mail
      </span> 
          <p>contact@mdbootstrap.com</p>
      </li>
  </ul>
</div>
</div>
<!-- <div class="container">
  <div class="row justify-content-md-center">

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h1 class="second-text" >Roll Block</h1>
      </div>
      <div class="card-body">

        <h3 class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</h3>
      </div>

    </div>
    <br>
    <br>

  <div class="col-8"><ul class="list-group">
    <li class="list-group-item">Dapibus ac facilisis in</li>


    <li class="list-group-item list-group-item-primary">This is a primary list group item</li>
    <li class="list-group-item list-group-item-secondary">This is a secondary list group item</li>
    <li class="list-group-item list-group-item-success">This is a success list group item</li>
    <li class="list-group-item list-group-item-danger">This is a danger list group item</li>
    <li class="list-group-item list-group-item-warning">This is a warning list group item</li>
    <li class="list-group-item list-group-item-info">This is a info list group item</li>
    <li class="list-group-item list-group-item-light">This is a light list group item</li>
    <li class="list-group-item list-group-item-dark">This is a dark list group item</li>
  </ul></div>
</div>
</div> -->



  <!-- <div class="row justify-content-md-center">
    <div class="col col-lg-2">
      <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col col-lg-2">
      <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col col-lg-2">
      <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col col-lg-2">
      <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div> -->




<!--
<div class ="container">
    <div width="70px" class=" float-left card flex-row flex-wrap">

            <img width="70" height="70" src="../../../assets/images/ee.png" alt="">

        <div class="card-block px-2">
            <h4 class="card-title">Title</h4>
            <p class="card-text">Description</p>

        </div>
    </div>

    <div width="70px" class=" float-right card flex-row flex-wrap">

      <img width="70" height="70" src="../../../assets/images/ee.png" alt="">

  <div class="card-block px-2">
      <h4 class="card-title">Title</h4>
      <p class="card-text">Description</p>

  </div>

</div>

  </div> -->


