<br>
<div>

  <div class="col-sm-12 " >
    <header class="w3-container w3-light-grey">
      <h5>John Doe</h5>
    </header>
    <div class="w3-container">
      <img src="../../../assets/images/ee.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
      <p>CEO at Mighty Schools. Marketing and Advertising. Seeking a new job and new opportunities.</p><br>
    </div>

    <br>
  </div>

  <div class="col-sm-12 " >
    <header class="w3-container w3-light-grey">
      <h5>John Doe</h5>
    </header>
    <div class="w3-container">
      <img src="../../../assets/images/ee.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
      <p>CEO at Mighty Schools. Marketing and Advertising. Seeking a new job and new opportunities.</p><br>
    </div>

    <br>
  </div>
  <div class="col-sm-12 " >
    <header class="w3-container w3-light-grey">
      <h5>John Doe</h5>
    </header>
    <div class="w3-container">
      <img src="../../../assets/images/ee.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
      <p>CEO at Mighty Schools. Marketing and Advertising. Seeking a new job and new opportunities.</p><br>
    </div>

    <br>
  </div>
  <div class="col-sm-12 outer-spinner" >
    <div class="spinner-border spinner-center"  role="status">
       
    </div>
  </div>
  
</div>